.notifications{



    &__row{
        @include flex(center,center);
        flex-direction: column;
    }


    &__title{
        padding-top: 14px;
        padding-bottom: 14px;
        border-bottom: 1px solid #E0E4F0;


        & p{
            color: var(--grey-scale-grey-scale-100, #1E201F);
            font-family: Inter;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
        }
    }


    .content{
        padding-top: 52px;



        &__text{


            & p{
                color: var(--grey-scale-grey-scale-100, #1E201F);
                font-family: Inter;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 125%;
            }
        }
    }
}