.campain{
    width: 100%;
    height: 100%;
    


    &__title{
        padding-top: 14px;
        padding-bottom: 14px;
        border-bottom: 1px solid #E0E4F0;


        & p{
            color: var(--grey-scale-grey-scale-100, #1E201F);
            font-family: Inter;
            font-size: 26px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
        }
    }


    .content{
        width: 100%;
        height: 100%;
        @include flex(center,center);
        flex-direction: column;
        padding-top: 280px;
        padding-left: 200px;




        &__title{
            color: var(--grey-scale-grey-scale-100, #1E201F);
            font-family: Inter;
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%;
            padding-bottom: 10px;
        }

        &__subtitle{
            color: #87909E;
            text-align: center;
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%;
            width: 325px;
            padding-bottom: 19px;
        }


        &__button{
            border-radius: 6px;
            border: 0.5px solid var(--Primary-70, #0068B9);
            background: var(--Primary-10, #E0ECFF);
            display: flex;
            padding: 10px;
            align-items: center;
            gap: var(--spacing-s, 12px);
            flex: 1 0 0;


            & p{
                @include flex(center,center);
                gap: 6px;
                color: var(--Primary-70, #0068B9);
                font-family: Inter;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 125%;
            }
        }
    }
}